body{
    --main-color: #212121;
    --secondary-color: #757575;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.navigation a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    }
.brand-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
.brand {
    color: #212121;
}
.contact-link a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
}
.mian-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.order-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.content-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.content-text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}
.section-subject {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-position {
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.address-link {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-link {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-mail {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.6);
}
.option-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    }
.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-option {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}
/* pseudoklasy etc */
.option-button:hover,
.option-button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
}
.navigation a:hover,
.navigation a:focus {
    color: #2196F3;
}    
.contact-link a:hover,
.contact-link a:focus {
    color: #2196F3;
}
.footer-link:hover,
.footer-link:focus {
    color: #2196F3;
}
.footer-mail:hover,
.footer-mail:focus {
    color: #2196F3;
}
.a:hover,
.a:focus {
    cursor: pointer;
}